/* .character {
  margin: 0 25px 30px 0;
  width: 300px;
  text-decoration: none;
  color: inherit;
}

.image-character {
  width: 300px;
  height: 360px;
}

.bloc-favoris {
  width: 40px;
  height: 40px;
  background-color: rgb(228, 122, 122);
} */
